<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VirusTotal API Web App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>VirusTotal API Web App</h1>
        <form action="/search" method="POST">
            <input type="text" name="searchInput" id="searchInput" placeholder="Digite um IP ou site">
            <button type="submit">Pesquisar</button>
        </form>
        <div id="results"></div>
    </div>
    <script src="script.js"></script>
</body>
</html>
